<div class="card" (click)="onCardClick()">
  <div class="card-image">
    <img [src]="displayImageUrl" [alt]="title" />
  </div>
  <div class="card-content">
    <div class="card-date">
      <img src="assets/icons/calendar-icon.svg" alt="Calendar" class="calendar-icon" />
      <span class="date-text">{{ date }}</span>
    </div>
    <h3 class="card-title">{{ title }}</h3>
    <p class="card-description">{{ content }}</p>
    <button class="read-more-btn" (click)="onReadMoreClick($event)">
      <span>Read more</span>
      <img src="assets/icons/arrow-right-icon.svg" alt="Arrow" class="arrow-icon" />
    </button>
  </div>
</div>
