<div class="card" (click)="onCardClick()">
  <div class="card-image">
    <img [src]="displayImageUrl" [alt]="title" />
  </div>
  <div class="card-content">
    <div class="card-date">
      <img src="assets/icons/calendar-icon.svg" alt="Calendar" class="calendar-icon" />
      <span class="date-text">{{ date }}</span>
    </div>
    <h3 class="card-title">{{ title }}</h3>
    <p class="card-description">{{ content }}</p>
    <app-button
      text="Read more"
      iconUrl="assets/icons/arrow-right-icon.svg"
      iconAlt="Arrow"
      variant="primary"
      iconPosition="right"
      (buttonClick)="onReadMoreClick()"
    >
    </app-button>
  </div>
</div>
