<div class="card" (click)="onCardClick()">
  <div class="card-image">
    <img [src]="displayImageUrl" [alt]="title" (error)="onImageError($event)" />
  </div>
  <div class="card-content">
    <span class="card-date">
      <img class="card-date-icon" [src]="DEFAULT_IMAGES.CALENDAR_ICON" alt="Clock" />
      {{ date }}</span
    >
    <h3 class="card-title" [innerHTML]="highlightedTitle"></h3>
    <p class="card-description" [innerHTML]="highlightedContent"></p>
    <div class="card-footer">
      <app-button
        text="Read more"
        variant="outline"
        [icon]="DEFAULT_IMAGES.ARROW_RIGHT_ICON"
        (clicked)="onReadMoreClick()"
        iconPosition="right"
      ></app-button>
    </div>
  </div>
</div>
