<div class="article-page">
  <div class="article-hero">
    <img [src]="displayImageUrl" [alt]="articleData.title" class="hero-image" />
  </div>

  <div class="article-content">
    <h1 class="article-title">{{ articleData.title }}</h1>
    <div class="article-text" [innerHTML]="articleData.content"></div>
  </div>
  <div class="back-link">
    <app-button
      text="Back to homepage"
      iconUrl="assets/icons/arrow-left-icon.svg"
      iconAlt="Arrow left"
      variant="primary"
      iconPosition="left"
      (buttonClick)="goBack()"
    >
    </app-button>
  </div>
</div>
